<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Brain Speech Visualizer</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    <h1>Brain Speech Visualizer!</h1>
    <div id="controls">
  	 <button id="recordButton">Record</button>
  	 <button id="pauseButton" disabled>Pause</button>
  	 <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
  	<p><strong>Recordings:</strong></p>
  	<ol id="recordingsList"></ol>
  </div>
  <div id="brain-contain">
    <img id="brain" src="jpg/brain-colors.jpg">
    <div class="circle c1 numeric tactile"></div>
    <div class="circle c2 social"></div>
    <div class="circle c3 violence"></div>
    <div class="circle c4 numeric tactile"></div>
    <div class="circle c5 mental"></div>
    <div class="circle c6 mental"></div>
    <div class="circle c7 bodypart"></div>
    <div class="circle c8 numeric tactile visual"></div>
    <div class="circle c9 mental social"></div>
    <div class="circle c10 mental"></div>
    <div class="circle c11 violence"></div>
    <div class="circle c12 tactile"></div>
    <div class="circle c13 numeric tactile visual"></div>
    <div class="circle c14 numeric tactile visual"></div>
    <div class="circle c15 mental"></div>
    <div class="circle c16 bodypart person"></div>
    <div class="circle c17 mental social"></div>
    <div class="circle c18 tactile"></div>
    <div class="circle c19 tactile"></div>
    <div class="circle c20 social person"></div>
    <div class="circle c21 social violence"></div>
    <div class="circle c22 mental social"></div>
    <div class="circle c23 outdoor"></div>
    <div class="circle c24 bodypart"></div>
    <div class="circle c25 tactile"></div>
    <div class="circle c26 numeric tactile visual"></div>
    <div class="circle c27 tactile"></div>
    <div class="circle c28 tactile visual"></div>
    <div class="circle c29 violence"></div>
    <div class="circle c30 mental violence"></div>
    <div class="circle c31 numeric tactile visual"></div>
    <div class="circle c32 violence social"></div>
    <div class="circle c33 person social"></div>
    <div class="circle c34 numeric tactile visual"></div>
    <div class="circle c35 numeric tactile visual"></div>
    <div class="circle c36 social"></div>
    <div class="circle c37 mental"></div>
    <div class="circle c38 tactile"></div>
  </div>

  <script>
    var tactile = {{ tactile }};
    var visual = {{ visual }};
    var outdoor = {{ outdoor }};
    var bodypart = {{ bodypart }};
    var number = {{ number }};
    var place = {{ place }};
    var violence = {{ violence }};
    var person = {{ person }};
    var mental = {{ mental }};
    var time = {{ time }};
    var social = {{ social }};

    var tactileList = document.querySelectorAll(".tactile");
    var visualList = document.querySelectorAll(".visual");
    var outdoorList = document.querySelectorAll(".outdoor");
    var bodypartList = document.querySelectorAll(".bodypart");
    var numberList = document.querySelectorAll(".number");
    var violenceList = document.querySelectorAll(".violence");
    var personList = document.querySelectorAll(".person");
    var mentalList = document.querySelectorAll(".mental");
    var timeList = document.querySelectorAll(".time");
    var socialList = document.querySelectorAll(".social");
    
    if(tactile) {
      tactileList.forEach(function(circle) {
        circle.classList.remove("animated-tactile");
        circle.classList.add("animated-tactile");
      });
    };
    if(visual) {
      visualList.forEach(function(circle) {
        circle.classList.remove("animated-visual");
        circle.classList.add("animated-visual");
      });
    };
    if(outdoor) {
      outdoorList.forEach(function(circle) {
        circle.classList.remove("animated-outdoor");
        circle.classList.add("animated-outdoor");
      });
    };
    if(bodypart) {
      bodypartList.forEach(function(circle) {
        circle.classList.remove("animated-bodypart");
        circle.classList.add("animated-bodypart");
      });
    };
    if(number) {
      numberList.forEach(function(circle) {
        circle.classList.remove("animated-number");
        circle.classList.add("animated-number");
      });
    };
    if(place) {
      placeList.forEach(function(circle) {
        circle.classList.remove("animated-place");
        circle.classList.add("animated-place");
      });
    };
    if(violence) {
      violenceList.forEach(function(circle) {
        circle.classList.remove("animated-violence");
        circle.classList.add("animated-violence");
      });
    };
    if(person) {
      personList.forEach(function(circle) {
        circle.classList.remove("animated-person");
        circle.classList.add("animated-person");
      });
    };
    if(mental) {
      mentalList.forEach(function(circle) {
        circle.classList.remove("animated-mental");
        circle.classList.add("animated-mental");
      });
    };
    if(time) {
      timeList.forEach(function(circle) {
        circle.classList.remove("animated-time");
        circle.classList.add("animated-time");
      });
    };
    if(social) {
      socialList.forEach(function(circle) {
        circle.classList.remove("animated-social");
        circle.classList.add("animated-social");
      });
    };
  </script>
  <script src="recorder.js"></script>
  <script src="app.js"></script>
</body>

</html>